body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-size: cover;
    color: #fff;
    padding: 2rem 0;
}

.card img {
    height: 250px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: white;
}
